<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>

        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>

                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>

            <% }) %>
        <% } else { %>
            <p>There are no blogs to display</p>
        <% } %>

    </div>

    <%- include('./partials/footer.ejs') %>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>